In [1]:
'''
# KWF Opportunities
opportunities = pd.read_csv('/home/lboerhoop/src/KWF/data/opportunities.csv', 
                            parse_dates=['Close Date', 'Created Date']).drop(columns=[
                                         'Next Step', 
                                         'Lead Source', 
                                         'Opportunity Owner',
                                         'Owner Role',
                                         'Account Name',
                                         'Type'])
opportunities.head(3)
'''

"\n# KWF Opportunities\nopportunities = pd.read_csv('/home/lboerhoop/src/KWF/data/opportunities.csv', \n                            parse_dates=['Close Date', 'Created Date']).drop(columns=[\n                                         'Next Step', \n                                         'Lead Source', \n                                         'Opportunity Owner',\n                                         'Owner Role',\n                                         'Account Name',\n                                         'Type'])\nopportunities.head(3)\n"

In [1]:
import pandas as pd
import datetime as dt

# Review of Python's <i>datetime</i> Module

In [7]:
someday = dt.date(1966, 5, 19)

In [14]:
print(someday.year)
print(someday.month)
print(someday.day)
str(someday)

1966
5
19

'1966-05-19'

In [10]:
dt.datetime(1966, 5, 19)

datetime.datetime(1966, 5, 19, 0, 0)

In [11]:
dt.datetime(1966, 5, 19, 8, 45)

datetime.datetime(1966, 5, 19, 8, 45)

In [12]:
dt.datetime(1966, 5, 19, 8, 45, 58)

datetime.datetime(1966, 5, 19, 8, 45, 58)

In [13]:
str(dt.datetime(1966, 5, 19, 8, 45, 58))

'1966-05-19 08:45:58'

In [18]:
sometime = dt.datetime(1966, 5, 19, 8, 45, 58)  # Year, Month, Day, Hour, Minute, Second

In [19]:
str(sometime)

'1966-05-19 08:45:58'

# The pandas Timestamp Object

In [20]:
pd.Timestamp('2015-03-31')

Timestamp('2015-03-31 00:00:00')

In [21]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [22]:
pd.Timestamp('2015, 03, 31')

Timestamp('2015-03-31 00:00:00')

In [23]:
pd.Timestamp('31/03/2015')

Timestamp('2015-03-31 00:00:00')

In [24]:
pd.Timestamp('2015-03-31 08:35:15')

Timestamp('2015-03-31 08:35:15')

In [25]:
pd.Timestamp('2015-03-31 08:35:15 PM')

Timestamp('2015-03-31 20:35:15')

In [26]:
pd.Timestamp(dt.date(2015, 3, 31))

Timestamp('2015-03-31 00:00:00')

In [32]:
pd.Timestamp(dt.datetime(2015, 3, 31, 21, 35, 55))

Timestamp('2015-03-31 21:35:55')

# The pandas DatetimeIndex Object

In [35]:
dates = ['2016-01-02', '2016-04-12', '2009-09-07']
dates2 = ['2016/01/02', '2016/04/12', '2009/09/07']
print(pd.DatetimeIndex(dates))
print(pd.DatetimeIndex(dates2))

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [37]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [40]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

# The <i>pd.to_datetime()</i> Method

In [5]:
pd.to_datetime('2001-04-19')
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [7]:
times = pd.Series(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [8]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [9]:
dates = pd.Series(['July 4th, 1996', '10/04/1991', 'Hello', '2015-02-31'])  # Last 2 Strings are INVALID, 
                                                                            # see after Error Message
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [10]:
pd.to_datetime(dates)  # Creates an Error

ParserError: Unknown string format: Hello

In [15]:
pd.to_datetime(dates, errors = 'coerce')   # 'coerce' -> the good ones will processed, 
                                           # the other get 'NaT' (Not a Time)

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [16]:
# UNIX Time
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305], unit = 's')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the <i>pd.date_range()</i> Method, Part 1

In [18]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [19]:
times = pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'D')  # 'D' - 1 Day
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [22]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [24]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = '1D')  # '1D' - 1 Day (same as 'D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [29]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = '2D') # '2D' - 2 Days

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [30]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'B')   # 'B' - Business Days

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [31]:
pd.date_range(start = '2016-01-01', end = '2016-01-15', freq = '1W')  # '1W' - 1 Week

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')